<ion-content class="home">
  <img src="/assets/images/logo_mobile.png" alt="" />
  <div style="padding-top: 27%">
    <ion-item class="input">
      <ion-input placeholder="Login" type="email"  ></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input placeholder="Password" type="password" ></ion-input>
    </ion-item>
    <ion-button class="loginBtnLog" size="small" expand="block" shape="round" routerLink="/sign-up" >Connexion</ion-button>
    <ion-button class="loginBtnLogin" size="small" expand="block" shape="round" routerLink="/sign-up" >Inscription</ion-button>
  </div>
</ion-content>
