.welcome-card img {
  max-height: 35vh;
}

ion-content.home{
  --ion-background-color: linear-gradient(white,white,#02ADED) !important;
}

img{
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 20%;
}

ion-item.input{
  --background: white;
  opacity: 45%;
  display: block;
  margin: auto;
  width: 80%;
  font-size: small;
  --ion-font-family: 'Montserrat' !important;
  padding-top: 7px;
}

ion-button.loginBtnLog {
  --background: #02ADED !important;
  --ion-font-family: 'Montserrat' !important;
  font-size: small;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 20px;
}
ion-button.loginBtnLogin {
  --background: #7A93A8 !important;
  --ion-font-family: 'Montserrat' !important;
  font-size: small;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 10px;
}


